@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #232946;
}
h4,p {
    font-family: 'Fredoka One', cursive;
}

#container { 
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%)
}




@media only  screen and (min-width:768px) and (max-width: 1023px) {

}
 
@media only  screen and (max-width : 600px) {
   img {
    width: 50%;
   }
}