/*Fredoka one font*/
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lobster&display=swap");
/*montserrat font*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/*body*/
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #232946;
  animation: pageOnload 1.5s;
}

/*JUMBOTRON**/
.jumbotron h1 {
  font-size: 60px;
  font-family: "Fredoka One", cursive;
}

/*PENGENALAN*/
#pengenalan p {
  font-family: "Montserrat", sans-serif;
}
#pengenalan h1 {
  font-family: "Fredoka One", cursive;
}
/*PROJECTS*/
.project h1 {
  font-family: "Fredoka One", cursive;
}
/*BUTTON*/
.button-wrapper a {
  color: white;
  border-radius: 1rem;
  padding: 1rem;
  border: 2px solid white;
  transition-duration: 0.5s;
  font-family: "Montserrat", sans-serif;
}

.button-wrapper a:hover {
  color: #232946;
  background-color: white;
}

/*FOOTER*/
.logo {
  color: white;
}
.footer .socialmedia {
  margin: 1rem 0 1rem 0;
}
.footer h3 {
  font-family: "Fredoka One", cursive;
}
.footer h6 {
  font-family: "Montserrat", sans-serif;
}

/*mediaqueries*/
@media only screen and (max-width: 331px) {
  .jumbotron h1 {
    font-size: 50px;
  }
}

/*animation page on load*/
@keyframes pageOnload {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
