@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lobster&display=swap");

body {
  background-color: #232946;
}

.jumbotron {
  color: white;
  font-family: "Fredoka One", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.jumbotron img {
  height: 500px;
  width: auto;
}

h1 {
  font-size: 50px;
  margin-top: 0px;
}
